#settings
.settings/

#metadata
.metadata/

#Debug
Debug/
debug/
Release/
release

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
*.elf
*.list
*.o
*.o
*.mk
*.o
*.xml
*.mk
*.xml
*.xml
*.prefs
*.xml
*.prefs
*.mk
*.mk
*.o
1_AXIS_F091_Turntable_Demo/.settings/language.settings.xml
1_AXIS_F091_STALLGUARD/.settings/language.settings.xml
1_AXIS_F091_Send/.settings/language.settings.xml
1_AXIS_F091_Receive/.settings/language.settings.xml
1_AXIS_F091_MAIN/.settings/language.settings.xml
1_AXIS_F091_Knikker_Demo_V1.0/.settings/language.settings.xml
1_AXIS_F091_GPIO/.settings/language.settings.xml
1_AXIS_F091_AMS/.settings/language.settings.xml
